theme: "default"
title: "Ian Curtis - Blog"
author: "Ian Curtis"
authorImg: "https://avatars.githubusercontent.com/u/1234568?v=4"
contentDir: "."
outputDir: "public"
templateDir: "templates"
github: "https://github.com/mona"
linkedin: "https://linkedin.com/example"
email: "user@example.net"
