title: Finn the Human
authorImg: https://octodex.github.com/images/adventure-cat.png
theme: default
outputDir: public
description: Mathematical! I'm Finn the Human!
github: https://github.com/mona
linkedin: https://linkedin.com/example
email: user@example.net
contentDir: content
author: Finn Mertens
