{{ define "baseHTML" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{.Config.Title}}">
    <title>{{.Config.Title}}</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <header>
        <h1>{{.Config.Title}}</h1>
    </header>
    <div class="container">
        {{ range sortByDate .Posts }}
        {{ template "postHTML" . }}
        {{ end }}
    </div>
    <footer>
        &copy; {{now.UTC.Year}} {{.Config.Author}}. All rights reserved.
    </footer>
</body>
{{ end }}
